<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>

<body>
<header>
    <div class="logo-container">
        <div class="logo">
            <img src="/public//images/CompletList_Black_Logo.png" alt="CompleteList Main Logo">
        </div>
    </div>
</header>

<section class="content-section">
    <div class="left-section">
        <form action="signup.html">
            <h1>Welcome to CompleteList!</h1>
            <p>Completelist is your one-stop shop for creating and managing your to-do list while allowing for the
                management of complex projects.</p>
            <p>Most importantly: it is FREE!</p>
            <input class="signup-button" type="submit" value="Sign up now!">
            <p><a href="login.html">Already have an account? Login</a></p>
        </form>
    </div>
    <div class="right-section">
        <img src="/public/images/BusyWoman.png" alt="Busy Woman">
    </div>
</section>

<section class="slideshow-container">
    <img class="slideshow-image" src="/public/images/Task Management page.png" alt="Task Management">
    <img class="slideshow-image" src="/public/images/busy_man.png" alt="">

    <div class="slideshow-controls">
        <button onclick="changeSlide(-1)">Previous</button>
        <button onclick="changeSlide(1)">Next</button>
    </div>
</section>

<footer>
    <div class="contact-section">
        <h2>Contact Us</h2>
        <p>If you need any help or have any questions, feel free to reach out to us.</p>
        <p>Open an issue on our <a href="https://github.com/jpthecode/CMSC_495_Final/issues" target="_blank">GitHub repository</a> or send us an email at <a href="">contact@completelist.com</a>.</p>
    </div>
</footer>

<script src="/index.js"></script>
</body>
</html>