<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CompleteList - Scrum Planning </title>
  <link rel="stylesheet" href="/public/css/InteractiveStyles.css">
</head>

<body class="task-interactive">
  <a href="./logout" class="logout-button">
    <img src="/images/User.PNG" alt="Logout" style="width: 40px; height: 40px;">
  </a>
  <a href="./TaskManagementPage">
    <img src="/images/CompleteListLogo.PNG" alt="CompleteList Logo" style="position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 9999;">
  </a>
  <div class="side-panel">
    <h3>Options</h3>
    <!--Don't need as this will be seperate from todo <a href="./TaskManagementPage"><button id="createTaskBtn">Task View</button></a> -->
    <a href="./AddNewItem"><button id="createTaskBtn">ADD NEW ITEM</button></a>
  </div>

  <div class="task-container">
    <div class="task-list backlog">
      <h3>Backlog</h3>
      <div class="task-items">
        <ul id="backlog-list">
          <li draggable="true">Task 1 - Backlog</li>
          <li draggable="true">Task 2 - Backlog</li>
        </ul>
      </div>
    </div>
    <div class="task-list in-progress">
      <h3>In Progress</h3>
      <div class="task-items">
        <ul id="in-progress-list">
          <li draggable="true">Task 3 - In Progress</li>
          <li draggable="true">Task 4 - In Progress</li>
        </ul>
      </div>
    </div>
    <div class="task-list completed">
      <h3>Completed</h3>
      <div class="task-items">
        <ul id="completed-list">
          <li draggable="true">Task 5 - Completed</li>
          <li draggable="true">Task 6 - Completed</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Disrupts drag/drop functionality. Revise.  
    <script src="/routes/interactivetaskmanagement.js"></script> -->
  <script src="/taskDragAndDrop.js"></script> 
</body>
</html>
