<!DOCTYPE html>
<html lang="">
<head>
    <title>Login</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div class="logo-container">
        <img alt="CompleteList Main Logo" src="/images/CompletList_Black_Logo.png">
    </div>
    <div class="avatar-container">
        <img alt="Avatar" id="avatar_image" src="/images/temp_avatar.png">
    </div>
    <div class="form-container">
        <form action="/login" method="POST">
            <div class="form">
                <input name="email" placeholder="Email" required type="text">
                <input name="password" placeholder="Password" required type="password">
                <input type="submit" value="Login">
                <p><a href="">Forgot password?</a></p>
                <p><a href="./signup">Create new account</a></p>
            </div>
    </div>
</div>
</body>
</html>
