<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

</head>
<body>
    <div class="login-container">
        <div class="logo">
            <div class="logo-container">
                <img src="/public/images/CompletList_Black_Logo.png" alt="CompleteList Main Logo">
            </div>
        </div>
        <div class="login-form">
            <form action="/login" method="POST">
                <input type="text" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="submit" value="Login">
                <p><a href="./signup">Create new account</a></p>
            </form>
        </div>
    </div>
</body>
</html>