/* Common styles for both pages */
body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    overflow: auto;
}

.filter-container {
    display: flex; /* Ensure filters are displayed side by side */
    justify-content: center; /* Center filters horizontally */
    margin-bottom: 20px;
    width: 100%; /* Ensure filters take up full width */
}

.filter-container label,
.filter-container select {
    margin: 0 10px; /* Add some space between filters */
}

/* Styles specific to the main page (TaskManagementPage.html) */
#taskTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#taskTable th, #taskTable td {
    padding: 10px;
    border: 1px solid #ccc;
}

#taskTable th {
    background-color: #f0f0f0;
}

#taskTable th:hover, #taskTable td:hover {
    background-color: #e0e0e0;
}

#taskTable tbody tr {
    background-color: white;
}

/* Styles specific to the "Add New Item" page (AddNewItemPage.html) */

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"] {
    width: auto; /* Adjusted width to fit content */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
}

.side-panel select {
    width: 120px; /* Adjusted width for thinner dropdowns */
    margin-bottom: 10px;
}

.side-panel button {
    width: 100%;
}

/* Login*/

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-container img {
    height: 150px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.login-form input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #2E95F4;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

.login-form input[type="submit"]:hover {
    background-color: #1F7DC2;
}

.login-form p {
    text-align: center;
    margin-top: 10px;
    color: #888888;
}

.login-form a {
    text-decoration: none;
    color: #2E95F4;
    font-weight: bold;
}

/* Homepage */

.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5px;
    align-items: stretch; 
    margin: auto; 
}

.left-section {
    flex: 1;
    background-color: #ECFF8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
}

.left-section h1 {
    font-size: 65px;
    text-align: center;
    padding-top:15px;
}

.left-section h1, p {
    color: #2E95F4;
    text-align: center;
}

.left-section p {
    font-size: 25px;
}

.right-section {
    flex: 1;
    background-color: #2E95F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
}

.right-section img {
    margin: 5px;
    padding: 5px;
    max-width: 80%;
    height: auto;
}

.contact-section {
    background-color: whitesmoke;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid;
}

.slideshow-container {
    position: relative;
    margin: 5 25 5 25px;
    
}

.slideshow-container img {
    display: none;
    width: 75%;
    height: 600;
    width: 1393;
}

.slideshow-container img.active {
    display: block;
}

.slideshow-container .slideshow-controls {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.slideshow-container .slideshow-controls button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
}

/* Sign up */


.signup-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #ECFF8F;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.logo, .logo-container {
    position: absolute;
    top: 0px;
    left: 20px;
}

.logo a img{
    display: block;
    max-width: 150px; 
    max-height: 120px; 
    cursor: pointer;
}

.signup-container h1 {
    color: #2E95F4;
    margin-top: 0;
    margin-bottom: 20px;
}

.signup-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.signup-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2E95F4;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2E95F4;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #2E95F4;
    text-decoration: none;
    font-weight: bold;
}